<div fxLayout="column" fxLayoutAlign="start stretch">
    <div class="header">
        <a class="title" href="https://www.fernuni-hagen.de/ilovepetrinets/"
            ><h1>I <span class="red">❤</span> Petri Nets</h1></a
        >
        <h2>
            ... and Event Logs ★ - This tool was developed in
            <br> <i>Fachpraktikum Programmiersysteme SS22</i> by
            <br> <a href="https://github.com/noahboerger">Noah Börger</a>,
            <a href="https://github.com/ThomasKaputa">Thomas Kaputa</a>,
            <a href="https://github.com/TobStr90">Tobias Stritzinger</a>,
            <a href="https://github.com/eawetchy">Elisabeth Wetchy</a> and
            <a href="https://github.com/yannikworthmann">Yannik Worthmann</a>
        </h2>
    </div>
    <hr class="header-divider" />
    <div class="main-app-body">
        <app-drawing-area
            (filterChanged)="updateFilter($event)"></app-drawing-area>
        <div class="menubar" fxLayoutGap="20px">
            <div class="menu-buttons" fxLayoutGap="20px" fxFlex="1 0 auto">
                <app-upload-button
                    [permittedFileExtensions]="['xes', 'log', 'txt']"
                    (newFileUploadedEventExtensionContent)="
                        processImport($event)
                    "></app-upload-button>
                <app-export-button
                    (processImport)="processImport($event)"></app-export-button>
            </div>
            <mat-form-field
                appearance="outline"
                class="input-form-field"
                fxFlex="1 1 100%">
                <mat-label>Source file</mat-label>
                <textarea
                    class="textarea"
                    rows="13"
                    matInput
                    [formControl]="textareaFc"></textarea>
            </mat-form-field>
        </div>
    </div>
    <hr />
    <app-footer></app-footer>
</div>
